@import 'mixins';
/**
 * Fonts
 */
$font-family: Roboto,sans-serif;

$sm: 600px;
$md: 1024px;
$lg: 1440px;
$xl: 1920px;

$layout-margin-xs: 32px;
$layout-margin-sm: 32px;
$layout-margin-md: 64px;
$layout-margin-lg: 64px;
$layout-margin-xl: 64px;

$border-radius:4px;

$gray: #e5e5e5;
/**
 * Assets path
 */
$assets: '~@/assets';
